@import "tailwindcss";

@theme {
  --color-rosehack-cream: #f9f9f4;
  --color-rosehack-yellow: #fff79a;
  --color-rosehack-lightgreen: #a7dba9;
  --color-rosehack-darkgreen: #679573;
  --color-rosehack-purple: #ae94be;
  --color-rosehack-pink: #ffb6c0;

  --animate-sway: sway 4s ease-in-out infinite alternate;

  @keyframes sway {
    from {
      transform: rotate(-3deg);
    }
    to {
      transform: rotate(3deg);
    }
  }
}

@theme inline {
  --font-poppins: var(--next-font-poppins), sans-serif;
  --font-cormorant: var(--next-font-cormorant), serif;
}
